<div class="container">
    <div class="row mt-3">
        <div class="col-4">
            <div class="card">
                <a href="{{ myLink }}">
                    <img class="card-img-top" src="{{ myImage }}">
                </a>
                <div class="card-body">
                    <p>Name : {{ myName }}</p>
                    <p>Score : {{ myScore }}</p>
                    <p class="alert-warning p-2">{{myContent}}</p>
                </div>
            </div>
        </div>
    </div>
</div>